
<div class="background-blur"></div>
<section class="contact section">
  <div class="top-line"></div>
  <div class="bottom-line"></div>
  <div class="corner-line corner-line--lt"></div>
  <div class="corner-line corner-line--lb"></div>
  <div class="corner-line corner-line--rt"></div>
  <div class="corner-line corner-line--rb"></div>
  <div class="contact__content">
    <div class="contact__box contact__box--1">
      <h2>Contact</h2>
    </div>
    <div class="contact__box contact__box--2">
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="contact__form" autocomplete="off">
        <div class="form__field">
          <label for="title" class="form__label">Title</label>
          <input #title="ngModel" name="title" id="title" type="text"
                 class="form__input" minlength="3" maxlength="50"
                 placeholder="Title of your message..."
                 ngModel required>
          <div class="form__error" *ngIf="contactForm.submitted && title.invalid">Title is required.</div>
          <div class="form__error" *ngIf="contactForm.submitted && title.value?.length < 3">The minimum number of characters is 3.</div>
        </div>
        <div class="form__field">
          <label for="from" class="form__label">Your email</label>
          <input #from="ngModel" name="from" id="from" type="email"
                 class="form__input"
                 placeholder="Your email..."
                 ngModel required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <div class="form__error" *ngIf="contactForm.submitted && from.invalid">Email is required.</div>
          <div class="form__error" *ngIf="contactForm.submitted && from.errors?.pattern">Email format should be: xxx@xxx.xxx</div>
        </div>
        <div class="form__field">
          <label for="message" class="form__label">Your message</label>
          <textarea #message="ngModel" name="message" id="message"
                    class="form__input form__input--textarea"
                    placeholder="Your message..."
                    ngModel required minlength="10" maxlength="300"></textarea>
          <div class="form__error" *ngIf="contactForm.submitted && message.invalid">Message is required.</div>
          <div class="form__error" *ngIf="contactForm.submitted && message.value?.length < 10">The minimum number of characters is 10. (max 300)</div>
        </div>
        <app-action-field class="form__button" [type]="'button'" [content]="'Send'"></app-action-field>
      </form>
      <div *ngIf="showMessageSuccess">Email has been sent.</div>
      <div *ngIf="showMessageError">Error sending. Please fill out the fields correctly.</div>
      <div *ngIf="showMessageErrorPost">Error sending. Http error({{showMessageErrorPost}})</div>
    </div>
    <div class="contact__box contact__box--3">
      <div class="contact__actions-cont">
        <app-action-field class="contact__button"
                          [type]="'button-img'"
                          [content]="'../../../assets/images/exit.png'"
                          (click)="closeWindow()"></app-action-field>
      </div>
    </div>
  </div>
</section>
