.background-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.section {
  position: relative;
  background-color: #fff4e3;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.74);
  -moz-box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.74);
  box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.74);
  background-image: url("../../../assets/images/bg1-red.png");
  background-repeat: repeat;
  background-position: top left;
  background-size: 300px auto;
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: calc(100% - 34px);
    left: 0;
    top: 17px;
    background-image: url("../../../assets/images/linetransp.png");
    background-repeat: repeat-y;
    background-position: top left;
    background-size: 100% auto;
  }
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: calc(100% - 34px);
    right: 0;
    top: 17px;
    background-image: url("../../../assets/images/linetransp.png");
    background-repeat: repeat-y;
    background-position: top left;
    background-size: 100% auto;
    transform: scaleX(-1);
  }
}
.bottom-line {
  position: absolute;
  width: calc(100% - 34px);
  height: 20px;
  left: 17px;
  bottom: 0;
  background-image: url("../../../assets/images/linetransp2.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: auto 100%;
  transform: scaleY(-1);
}
.top-line {
  position: absolute;
  width: calc(100% - 34px);
  height: 20px;
  left: 17px;
  top: 0;
  background-image: url("../../../assets/images/linetransp2.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: auto 100%;
}
.corner-line {
  position: absolute;
  width: 85px;
  height: 85px;
  background-image: url("../../../assets/images/line&corners3.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  z-index: 2;
  &--lt {
    left: 0;
    top: 0;
    transform: rotate(90deg);
  }
  &--lb {
    left: 0;
    bottom: 0;
    background-position: 0 100%;
  }
  &--rt {
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }
  &--rb {
    right: 0;
    bottom: 0;
    transform: rotate(270deg);
  }
}
.about-me {
  width: 55%;
  height: 95%;
}
.about-me__content {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/bg-img.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-me__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  padding: 0 10px;
}
.about-me__box--1 {
  height: 10%;

  h2 {
    color: #ffe794;
    font-size: 32px;
    letter-spacing: 2px;
  }
}
.about-me__gif-cont {
  width: 50%;
  height: 85%;
  border: 2px solid #a58a42;
  background-color: black;
  background-image: url("../../../assets/images/coding1.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.about-me__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  text-align: center;
  line-height: 1.6em;
  padding: 10px;
  border: 2px solid #766953;
  -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  -moz-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  background: rgba(0, 0, 0, 0.02);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../assets/images/bg1.png") repeat  center center;
  background-size: 350px auto;
}
.about-me__photo-cont {
  width: 100%;
  height: 100%;
}
.about-me__first-border {
  width: 100%;
  height: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
  border-left: 2px solid rgba(0, 0, 0, 0.25);
  border-right: 2px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;

  &--text {

  }
}
.about-me__sec-border {
  width: 100%;
  height: 100%;
  border-top: 3px solid rgba(255, 255, 255, 0.22);
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  border-left: 3px solid rgba(255, 255, 255, 0.22);
  border-right: 3px solid rgba(0, 0, 0, 0.25);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../../assets/images/bg1.png") repeat 102px 37px;
  background-size: 350px auto;
}
.about-me__photo-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
}
.about-me__photo-img {
  width: 140px;
  height: 168px;
  margin: 15px auto;
}
.about-me__photo-text {
  height: 70px;
  width: 90%;
  margin: 15px auto;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #766953;
  -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  -moz-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  background: rgba(0, 0, 0, 0.02);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../assets/images/bg1.png") repeat  center center;
  background-size: 350px auto;
}

.about-me__actions-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
.about-me__button {
  position: relative;
  align-self: flex-end;
  width: 90px;
  height: 50px;
}
.about-me__box--4 {
  height: auto;
}
.about-me__box--5 {
  align-items: flex-end;
  padding-bottom: 10px;
  height: 70px;
  margin: 10px 0 0;
}



