<div class="background-blur"></div>
<section class="about-me section">
  <div class="top-line"></div>
  <div class="bottom-line"></div>
  <div class="corner-line corner-line--lt"></div>
  <div class="corner-line corner-line--lb"></div>
  <div class="corner-line corner-line--rt"></div>
  <div class="corner-line corner-line--rb"></div>
  <div class="about-me__content">
    <div class="about-me__box about-me__box--1">
      <h2>About me</h2>
    </div>
<!--    <div class="about-me__box about-me__box&#45;&#45;2">-->
<!--      <div class="about-me__gif-cont"></div>-->
<!--    </div>-->
    <div class="about-me__box about-me__box--3">
      <div class="about-me__photo-cont">
        <div class="about-me__first-border">
          <div class="about-me__sec-border">
            <div class="about-me__photo-content">
              <div class="about-me__photo-header">
                <img class="about-me__photo-img-badge" src="../../../assets/images/badgeexp.png" alt="exp">
                <app-action-field class="about-me__photo-img" [type]="'image'" [content]="'../../../assets/images/ja2.png'"></app-action-field>
                <img class="about-me__photo-img-badge" src="../../../assets/images/badgeexp.png" alt="exp">
              </div>

              <div class="about-me__photo-text">
                Front-end developer / Angular developer
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="about-me__box about-me__box--4">
      <div class="about-me__desc">
        Hello! My name is PRZEMYSŁAW SZCZEPAŃSKI and I am a front-end developer. <br>
        A graduate of the Kielce University of Technology. I've always wanted to do what I like, so I do everything to do it!
        In my free time I relax while watching a comedy, for example with Jim
        Carrey or I care that my body will still look and fit my old clothes. In addition, a
        great fan of Blizzard, old classic games and movies.
      </div>
    </div>
    <div class="about-me__box about-me__box--5">
      <div class="about-me__actions-cont">
        <app-action-field class="about-me__button"
                          [type]="'button-img'"
                          [content]="'../../../assets/images/exit.png'"
                          [link]="'https://github.com/gitprzemek'"
                          (click)="closeWindow()"></app-action-field>
      </div>
    </div>
  </div>


</section>
