@import "src/app/shared/styles/main.scss";


.about-me {
  max-width: 800px;
  max-height: 840px;
  @include small-desktop {
    max-width: 780px;
    max-height: 730px;
  }
}
.about-me__content {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/bg-img.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include phone {
    overflow-y: scroll;
  }
}
.about-me__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 10px;
}
.about-me__box--1 {
  height: 10%;

  h2 {
    color: #ffe794;
    font-size: 32px;
    letter-spacing: 2px;
  }
}
.about-me__gif-cont {
  width: 50%;
  height: 85%;
  border: 2px solid #a58a42;
  background-color: black;
  background-image: url("../../../assets/images/coding1.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.about-me__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  text-align: center;
  line-height: 1.6em;
  padding: 10px;
  border: 2px solid #766953;
  -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  -moz-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  background: rgba(0, 0, 0, 0.02);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../assets/images/bg1.png") repeat  center center;
  background-size: 350px auto;
  margin: 25px 0;
  @include phone {
    margin: 0;
    font-size: 14px;
    height: 100%;
  }
}
.about-me__photo-cont {
  width: 100%;
  height: 100%;
}
.about-me__first-border {
  width: 100%;
  height: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
  border-left: 2px solid rgba(0, 0, 0, 0.25);
  border-right: 2px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;

  &--text {

  }
}
.about-me__sec-border {
  width: 100%;
  height: 100%;
  border-top: 3px solid rgba(255, 255, 255, 0.22);
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  border-left: 3px solid rgba(255, 255, 255, 0.22);
  border-right: 3px solid rgba(0, 0, 0, 0.25);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../../assets/images/bg1.png") repeat 102px 37px;
  background-size: 350px auto;
}
.about-me__photo-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
}
.about-me__photo-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.about-me__photo-img {
  width: 140px;
  height: 168px;
  margin: 15px 5px;
  @include phone {
    width: 90px;
    height: 112px;
    margin: 10px 2px;
  }
}
.about-me__photo-img-badge {
  height: 140px;
  width: auto;
  margin: 15px 5px;
  @include phone {
    height: 55px;
  }
}
.about-me__photo-text {
  height: 70px;
  width: 90%;
  margin: 15px auto;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #766953;
  -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  -moz-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.7);
  background: rgba(0, 0, 0, 0.02);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../assets/images/bg1.png") repeat  center center;
  background-size: 350px auto;
  @include phone {
    text-align: center;
    height: 54px;
    width: 92%;
    font-size: 14px;
    margin: 5px auto 10px;
  }
}

.about-me__actions-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
.about-me__button {
  position: relative;
  align-self: flex-end;
  width: 90px;
  height: 50px;
}
.about-me__box--4 {
  height: auto;
  @include phone {
    margin: 10px 0;
  }
}
.about-me__box--5 {
  align-items: flex-end;
  padding-bottom: 10px;
  height: 70px;
  margin: 10px 0 0;
}



