<div class="background-blur"></div>
<section class="about-me section">
  <div class="top-line"></div>
  <div class="bottom-line"></div>
  <div class="left-line"></div>
  <div class="right-line"></div>
  <div class="corner-line corner-line--lt"></div>
  <div class="corner-line corner-line--lb"></div>
  <div class="corner-line corner-line--rt"></div>
  <div class="corner-line corner-line--rb"></div>
  <div class="about-me__content">
    <div class="about-me__box about-me__box--1">
      <h2>{{'MAIN_SITE.ABOUT_ME' | translate}}</h2>
    </div>
<!--    <div class="about-me__box about-me__box&#45;&#45;2">-->
<!--      <div class="about-me__gif-cont"></div>-->
<!--    </div>-->

    <div class="about-me__box about-me__box--3">
      <div class="about-me__photo-cont">
        <div class="about-me__first-border">
          <div class="about-me__sec-border">
            <div class="about-me__photo-content">
              <div class="about-me__photo-header">
                <img class="about-me__photo-img-badge" src="../../../assets/images/badgeexp.png" alt="exp">
                <app-action-field class="about-me__photo-img" [type]="'image'" [content]="'../../../assets/images/ja2.jpg'"></app-action-field>
                <img class="about-me__photo-img-badge" src="../../../assets/images/badgeexp.png" alt="exp">
              </div>

              <div class="about-me__photo-text">
                Front-end developer / Angular developer
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="about-me__box about-me__box--4">
      <div class="about-me__desc">
        {{'ABOUT_ME.DESCRIPTION' | translate}}
      </div>
    </div>
    <div class="about-me__box about-me__box--5">
      <div class="about-me__actions-cont">
        <app-action-field class="about-me__button"
                          [type]="'button-img'"
                          [content]="'../../../assets/images/icons/exit.png'"
                          [link]="'https://github.com/gitprzemek'"
                          (click)="closeWindow()"></app-action-field>
      </div>
    </div>
  </div>


</section>
