@import "./../abstract/mixins.scss";
.background-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.section {
  position: relative;
  background-color: $text-light;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.74);
  -moz-box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.74);
  box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.74);
  background-image: url("src/assets/images/backgrounds/bg1-red.jpg");
  background-repeat: repeat;
  background-position: top left;
  background-size: 300px auto;
  color: $text-light;
  text-shadow: 2px 2px $black;
  height: auto;
  width: auto;
  @include phone {
      height: 100vh;
  }
  //&::before {
  //  content: '';
  //  position: absolute;
  //  width: 20px;
  //  height: calc(100% - 34px);
  //  left: 0;
  //  top: 17px;
  //  background-image: url("src/assets/images/borders/linetransp.png");
  //  background-repeat: repeat-y;
  //  background-position: top left;
  //  background-size: 100% auto;
  //}
  //&::after {
  //  content: '';
  //  position: absolute;
  //  width: 20px;
  //  height: calc(100% - 34px);
  //  right: 0;
  //  top: 17px;
  //  background-image: url("src/assets/images/borders/linetransp.png");
  //  background-repeat: repeat-y;
  //  background-position: top left;
  //  background-size: 100% auto;
  //  transform: scaleX(-1);
  //}
}
.left-line {
  position: absolute;
  width: 20px;
  height: calc(100% - 34px);
  left: 0;
  top: 17px;
  background-image: url("src/assets/images/borders/linetransp.png");
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 100% auto;
}
.right-line {
  position: absolute;
  width: 20px;
  height: calc(100% - 34px);
  right: 0;
  top: 17px;
  background-image: url("src/assets/images/borders/linetransp.png");
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 100% auto;
  transform: scaleX(-1);
}
.bottom-line {
  position: absolute;
  width: calc(100% - 34px);
  height: 20px;
  left: 17px;
  bottom: 0;
  background-image: url("src/assets/images/borders/linetransp2.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: auto 100%;
  transform: scaleY(-1);
}
.top-line {
  position: absolute;
  width: calc(100% - 34px);
  height: 20px;
  left: 17px;
  top: 0;
  background-image: url("src/assets/images/borders/linetransp2.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: auto 100%;
}
.corner-line {
  position: absolute;
  width: 85px;
  height: 85px;
  background-image: url("src/assets/images/borders/line&corners3.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  z-index: 2;
  pointer-events: none;
  &--lt {
    left: 0;
    top: 0;
    transform: rotate(90deg);
  }
  &--lb {
    left: 0;
    bottom: 0;
    background-position: 0 100%;
  }
  &--rt {
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }
  &--rb {
    right: 0;
    bottom: 0;
    transform: rotate(270deg);
  }
}
