<section class="navigation-panel-bar">
  <div class="panel-border-line panel-border-line--top"></div>
  <div class="panel-border-line panel-border-line--bottom"></div>
  <div class="panel-border-line panel-border-line--left"></div>
  <div class="panel-border-line panel-border-line--right"></div>
  <div class="navigation-panel-bar__content">
    <div class="navigation-panel-bar__button-wrapper">
      <div class="navigation-panel-bar__button-img"></div>
      <div class="navigation-panel-bar__button-img navigation-panel-bar__button-img--after"></div>
      <div class="navigation-panel-bar__button-overflow">
        <button class="navigation-panel-bar__button" (click)="showMenuPanel()">SHOW MENU</button>
      </div>
    </div>
  </div>
</section>
