<!--<div class="header">-->
<!--  -->
<!--</div>-->
<app-welcome-screen></app-welcome-screen>
<div class="main-site-wrapper">
  <div class="main-site-center-wrapper">
    <div class="top-line"></div>
    <div class="bottom-line"></div>
    <div class="corner-line corner-line--lt"></div>
    <div class="corner-line corner-line--lb"></div>
    <div class="corner-line corner-line--rt"></div>
    <div class="corner-line corner-line--rb"></div>

    <app-main-panel class="app-main"></app-main-panel>
    <app-navigation-panel class="app-navigation"></app-navigation-panel>
    <app-about-me class="component component--about-me" *ngIf="showAboutMe"></app-about-me>
    <app-about-projects class="component component--about-projects" *ngIf="showAboutProjects"></app-about-projects>
    <app-about-skills class="component component--about-skills" *ngIf="showAboutSkills"></app-about-skills>
    <app-contact class="component component--contact" *ngIf="showContact"></app-contact>
  </div>


</div>

