$black: #000000;
$white: #ffffff;

$text-light: #fff4e3;
$text-red: #ff2935;
$text-shadow-light: #ffffffad;

$border-color: #deaf63;
$border-color-bronze: #766953;
$border-color-dark-bronze: rgb(63, 41, 21);

$background-orange: #a58x942;

$icon-color: #ffe794l;

$line-color-dark: #2a251e;
$line-color-light: #736e66;
$line-color-lightest: rgba(41, 34, 24, 0.23);


