<div class="background-blur"></div>
<section class="about-projects section">
  <div class="top-line"></div>
  <div class="bottom-line"></div>
  <div class="corner-line corner-line--lt"></div>
  <div class="corner-line corner-line--lb"></div>
  <div class="corner-line corner-line--rt"></div>
  <div class="corner-line corner-line--rb"></div>
  <div class="about-projects__content">
    <div class="about-projects__box about-projects__box--1">
      <h2>My projects</h2>
    </div>
    <div class="about-projects__box about-projects__box--2">
      <div class="about-projects__tiles-cont">
        <div class="about-projects__tile" *ngFor="let project of projectsData">
          <div class="about-projects__first-border">
            <div class="about-projects__sec-border">
              <div class="about-projects__tile-col about-projects__tile-col--1">
                <span class="about-projects__tile-title">{{project.title.en}}</span>
                <app-action-field class="about-projects__tile-desc" [type]="'text'" [content]="'Cracow'"></app-action-field>
                <div class="about-projects__tile-links">
                  <app-action-field class="about-projects__tile-link"
                                    [type]="'button-link-text'"
                                    [content]="'DEMO'"
                                    [link]="'https://github.com/gitprzemek'"></app-action-field>
                  <app-action-field class="about-projects__tile-link"
                                    [type]="'button-link-text'"
                                    [content]="'CODE'"
                                    [link]="'https://github.com/gitprzemek'"></app-action-field>

                </div>

              </div>
              <div class="about-projects__tile-col about-projects__tile-col--2">
                <app-action-field class="about-projects__tile-image" [type]="'image'" [content]="'../../../assets/images/redflag.png'"></app-action-field>
              </div>
              <div class="about-projects__tile-col about-projects__tile-col--3">
                <div class="about-projects__tile-tech" *ngFor="let tech of project.tech">
                  <app-action-field class="about-projects__tile-tech-icon" [type]="'image'" [content]="'../../../assets/images/arrow.png'"></app-action-field>
                  <app-action-field class="about-projects__tile-tech-text" [type]="'text'" [content]="tech"></app-action-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-projects__box about-projects__box--3">
      <div class="about-projects__actions-cont">
        <app-action-field class="about-projects__button"
                          [type]="'button-img'"
                          [content]="'../../../assets/images/exit.png'"
                          [link]="'https://github.com/gitprzemek'"
                          (click)="closeWindow()"></app-action-field>
      </div>
    </div>
  </div>
</section>
