.main-panel {
  width: 100%;
  height: 100%;
  .main-panel__content {
    height: 100%;
    position: relative;
    //background-image: url(../../../assets/images/main-city-background.png);
    //background-repeat: no-repeat;
    //background-size: contain;
    //background-position: center;
  }
  .main-panel__main-bg-img {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .main-panel__buildings {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .buildings__clock {
    position: absolute;
    width: 325px;
    height: 200px;
    top: 414px;
    left: 834px;
    background-size: 100% auto;
    background-position: -206px 0;
    background-repeat: no-repeat;
  }
  .buildings__clock-frame {
      position: relative;
      background-image: url("../../../assets/images/b20xxx.png");
    width: 46px;
    height: 53px;
    top: 71px;
    left: 30px;
    background-size: 324px auto;
    background-position: -6px 0px;
    background-repeat: no-repeat;
    transform: rotate(270deg);
      animation: clock 2s infinite steps(1,end);
  }
}
@keyframes clock {
  0% {
    background-size: 324px auto;
    width: 46px;
    height: 53px;
    top: 71px;
    left: 31px;
    background-position: -153px -1px;
    transform: rotate(270deg);
  }
  4% {
    background-size: 323px auto;
    width: 46px;
    height: 53px;
    top: 70px;
    left: 31px;
    background-position: -153px -57px;
    transform: rotate(270deg);
  }
  8% {
    background-size: 324px auto;
    width: 46px;
    height: 46px;
    top: 75px;
    left: 27px;
    background-position: -147px -113px;
    transform: rotate(0deg);
  }
  13% {
    background-size: 321px auto;
    width: 46px;
    height: 53px;
    top: 70px;
    left: 31px;
    background-position: -105px -56px;
    transform: rotate(270deg);
  }
  17% {
    background-size: 321px auto;
    top: 70px;
    width: 45px;
    height: 53px;
    left: 31px;
    background-position: -102px 0px;
    transform: rotate(270deg);
  }
  22% {
    background-size: 321px auto;
    width: 52px;
    height: 45px;
    top: 76px;
    left: 29px;
    background-position: -93px -113px;
    transform: rotate(0);
  }
  26% {
    background-size: 321px auto;
    top: 70px;
    width: 47px;
    height: 54px;
    left: 30px;
    background-position: -56px -55px;
    transform: rotate(270deg);
  }
  32% {
    background-size: 324px auto;
    width: 46px;
    height: 46px;
    top: 75px;
    left: 27px;
    background-position: -3px -105px;
    transform: rotate(0deg);
  }
  36% {
    background-size: 324px auto;
    top: 70px;
    width: 46px;
    height: 53px;
    left: 31px;
    background-position: -55px -1px;
    transform: rotate(270deg);
  }
  41% {
    background-size: 324px auto;
    top: 70px;
    width: 46px;
    height: 53px;
    left: 31px;
    background-position: -7px -1px;
    transform: rotate(270deg);
  }
  45% {
    background-size: 325px auto;
    width: 46px;
    height: 46px;
    top: 73px;
    left: 27px;
    background-position: -3px -56px;
    transform: rotate(0deg);
  }
  55% {
    background-size: 325px auto;
    width: 46px;
    height: 46px;
    top: 73px;
    left: 27px;
    background-position: -3px -56px;
    transform: rotate(0deg);
  }
  59% {
    background-size: 324px auto;
    top: 70px;
    width: 46px;
    height: 53px;
    left: 31px;
    background-position: -7px -1px;
    transform: rotate(270deg);
  }
  64% {
    background-size: 324px auto;
    top: 70px;
    width: 46px;
    height: 53px;
    left: 31px;
    background-position: -55px -1px;
    transform: rotate(270deg);
  }


  69% {
    background-size: 324px auto;
    width: 46px;
    height: 46px;
    top: 75px;
    left: 27px;
    background-position: -3px -105px;
    transform: rotate(0deg);
  }
  73% {
    background-size: 321px auto;
    top: 70px;
    width: 47px;
    height: 54px;
    left: 30px;
    background-position: -56px -55px;
    transform: rotate(270deg);
  }
  77% {
    background-size: 321px auto;
    width: 52px;
    height: 45px;
    top: 76px;
    left: 29px;
    background-position: -93px -113px;
    transform: rotate(0);
  }
  81% {
    background-size: 321px auto;
    top: 70px;
    width: 45px;
    height: 53px;
    left: 31px;
    background-position: -102px 0px;
    transform: rotate(270deg);
  }
  85% {
    background-size: 321px auto;
    width: 46px;
    height: 53px;
    top: 70px;
    left: 31px;
    background-position: -105px -56px;
    transform: rotate(270deg);
  }
  89% {
    background-size: 324px auto;
    width: 46px;
    height: 46px;
    top: 75px;
    left: 27px;
    background-position: -147px -113px;
    transform: rotate(0deg);
  }
  94% {
    background-size: 323px auto;
    width: 46px;
    height: 53px;
    top: 70px;
    left: 31px;
    background-position: -153px -57px;
    transform: rotate(270deg);
  }
  100% {
    background-size: 324px auto;
    width: 46px;
    height: 53px;
    top: 71px;
    left: 31px;
    background-position: -153px -1px;
    transform: rotate(270deg);
  }




}
