<section class="main-panel">
  <div class="main-panel__content">
    <img src="../../../assets/images/main-city-background2.png" alt="city-bg" class="main-panel__main-bg-img">
    <div class="main-panel__buildings">
      <div class="buildings__clock-animation">
      </div>
      <div class="buildings__golem-animation">
      </div>
      <div class="buildings__windmill-top-animation">
      </div>
      <div class="buildings__windmill-bottom-animation">
        <div class="forge-animation"></div>
      </div>
      <div class="buildings__grall-animation">
        <div class="grall-animation">
          <div class="main-panel__border main-panel__contact">
          </div>
        </div>
      </div>
      <div class="main-panel__borders-wrapper">
        <div class="main-panel__border main-panel__about-me-border" (click)="openAboutMe()">
        </div>
        <div class="main-panel__border main-panel__about-skills" (click)="openAboutSkills()">
        </div>
        <div class="main-panel__border main-panel__about-projects" (click)="openAboutProjects()">
        </div>
      </div>
    </div>
  </div>
</section>
