.main-panel {
  width: 100%;
  height: 100%;
  .main-panel__content {
    height: 100%;
    position: relative;
    //background-image: url(../../../assets/images/main-city-background.png);
    //background-repeat: no-repeat;
    //background-size: contain;
    //background-position: center;
  }
  .main-panel__main-bg-img {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .main-panel__buildings {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .buildings__clock-animation {
    position: absolute;
    width: 42px;
    height: 62px;
    top: 488px;
    left: 865px;
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/clock-gif2.gif");
  }
  .buildings__golem-animation {
    position: absolute;
    width: 202px;
    height: 221px;
    top: 331px;
    left: 389px;
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/golem-gif4.gif");
  }
  .buildings__windmill-top-animation {
    position: absolute;
    width: 102px;
    height: 132px;
    top: 406px;
    left: 965px;
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/wiatrak-top.gif");
  }
  .buildings__windmill-bottom-animation {
    position: absolute;
    width: 92px;
    height: 67px;
    top: 598px;
    left: 926px;
    overflow: hidden;

  }
  .forge-animation {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: -14px 0;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/wiatrak-bottom.gif");
  }
  .buildings__grall-animation {
    position: absolute;
    width: 200px;
    height: 243px;
    top: 28px;
    left: 433px;
    background-size: 100% auto;
    &::before {
      content: "";
      position: absolute;
      bottom: -66px;
      left: 52px;
      width: 2px;
      height: 94px;
      background: #2a251e;
      background: linear-gradient(180deg, #736e66 0%, #2a251e 74%, rgba(41, 34, 24, 0.23) 100%);
      -webkit-animation: lines 4s linear infinite;
      animation: lines 4s linear infinite;
      transform-origin: 50% 200%;
      z-index: 0;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -170px;
      left: 128px;
      width: 2px;
      height: 202px;
      background: rgb(42,37,30);
      background: linear-gradient(180deg, #736e66 0%, rgb(42, 37, 30) 54%, rgba(41, 34, 24, 0.33) 100%);
      animation: lines 4s linear infinite;
      transform-origin: 50% 100%;
      z-index: 0;
    }
  }
  .grall-animation {
    position: absolute;
    width: 167px;
    height: 243px;
    top: 0;
    left: 15px;
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/grall-gif.gif");
    animation: fly 4s linear infinite;
    z-index: 1;
  }
  @keyframes fly {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(-5px);
    }
  }
  @keyframes lines {
    0% {
      transform: rotateZ(-1.5deg);
    }
    50% {
      transform: rotateZ(1.5deg);
    }
    100% {
      transform: rotateZ(-1.5deg);
    }
  }

}
