
@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/Merriweather-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Lora;
  src: url("assets/fonts/Lora-Regular.ttf") format("opentype");
}

body {
  margin: 0;
  background-image: url("assets/images/bg1.png");
  background-repeat: repeat;
  background-size: 400px auto;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #fff4e3;
}
body * {
  box-sizing: border-box;
  font-family: "Lora", serif;
  color: #fff4e3;
  text-shadow: 2px 2px #000000;
}
