/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-image: url("assets/images/bg1.png");
  background-repeat: repeat;
  background-size: 400px auto;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
  color: #fff4e3;
}
body * {
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
  color: #fff4e3;
  text-shadow: 2px 2px #000000;
}
