.navigation-panel {
  position: relative;
  width: 100%;
  padding: 11px;
  color: #fff4e3;
  text-shadow: 2px 2px #000000;
  .panel-border-line {
    position: absolute;
    width: 100%;
    height: 11px;
    background-image: url("../../../assets/images/line-no1.png");
    background-repeat: repeat-y;
    background-position: top left;
    background-size: 100% auto;
    //transform: scaleX(-1);
    &--top {
      top: 0;
      left: 0;
      background-image: url("../../../assets/images/line-no12.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
    &--bottom {
      bottom: 0;
      left: 0;
      background-image: url("../../../assets/images/line-no12.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
    &--left,
    &--right{
      left: 0;
      top: 0;
      width: 11px;
      height: 100%;
      &::before {
        content: '';
        height: 11px;
        width: 11px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../../assets/images/corner-no1.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 100%;
        transform: rotate(270deg);
      }
      &::after {
        content: '';
        height: 11px;
        width: 11px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../../../assets/images/corner-no1.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 100%;
        transform: rotate(180deg);
      }
    }
    &--right {
      left: unset;
      right: 0;
      &::before {
        transform: rotate(0deg);
      }
      &::after {
        transform: rotate(90deg);
      }
    }

  }
  &__content {
    height: 100%;
    background-image: url("../../../assets/images/bg1-red.png");
    background-repeat: repeat;
    background-position: top left;
    background-size: 25% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__left-container {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 11px 5px 5px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-image: url("../../../assets/images/small-border.png");
      background-repeat: repeat-y;
      background-position: 0 0;
      background-size: 100% auto;
    }
  }
  &__center-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 0 16px 0 10px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-image: url("../../../assets/images/small-border.png");
      background-repeat: repeat-y;
      background-position: 0 0;
      background-size: 100% auto;
    }
  }
  &__field-wrapper {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -1px;
      width: 80%;
      height: 20px;
      background-image: url("../../../assets/images/ozdoba1.png");
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 100% auto;
      transform: translateX(-50%) scaleY(-1);
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -1px;
      width: 80%;
      height: 20px;
      background-image: url("../../../assets/images/ozdoba1.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% auto;
      transform: translateX(-50%) scaleY(1);
     }
  }
  &__right-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .left-container__top {
    height: 95px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .left-container__bottom {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 2;
  }
  .left-container__top-left {
    width: 27%;
    height: 100%;
  }
  .left-container__top-right {
    width: 71%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left-container__top-right-top {
    height: 35%;
  }
  .left-container__top-right-bottom {
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .left-container__trb-field {
    width: 28%;
  }
  .left-container__trb-field--long {
    width: 49%;
    display: flex;
    flex-direction: column;
  }
  .left-container__bottom-field {
    width: 24%;
    height: 65px;
  }
  .left-container__trb-field--img-gold {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-container__img-gold {
    width: auto;
    height: 73%;
  }
  .navigation-panel__center-button {
    width: 100%;
    height: 110px;
    ::ng-deep *{
      color: #ffe794;
    }
  }
  .navigation-panel__center-image {
    width: 105px;
    height: 110px;
  }
  .navigation-panel__right-button {
    width: 95%;
    height: 40px;
    ::ng-deep * {
      font-size: 18px;
    }
  }
}
