@import "src/app/shared/styles/main.scss";
.navigation-panel {
  position: relative;
  width: 100%;
  padding: 11px;
  color: #fff4e3;
  text-shadow: 2px 2px #000000;
  .panel-border-line {
    position: absolute;
    width: 100%;
    height: 11px;
    background-image: url("../../../assets/images/line-no1.png");
    background-repeat: repeat-y;
    background-position: top left;
    background-size: 100% auto;
    //transform: scaleX(-1);
    &--top {
      top: 0;
      left: 0;
      background-image: url("../../../assets/images/line-no12.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
    &--bottom {
      bottom: 0;
      left: 0;
      background-image: url("../../../assets/images/line-no12.png");
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
    &--left,
    &--right{
      left: 0;
      top: 0;
      width: 11px;
      height: 100%;
      &::before {
        content: '';
        height: 11px;
        width: 11px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../../assets/images/corner-no1.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 100%;
        transform: rotate(270deg);
      }
      &::after {
        content: '';
        height: 11px;
        width: 11px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../../../assets/images/corner-no1.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 100%;
        transform: rotate(180deg);
      }
    }
    &--right {
      left: unset;
      right: 0;
      &::before {
        transform: rotate(0deg);
      }
      &::after {
        transform: rotate(90deg);
      }
    }

  }
  &__content {
    height: 100%;
    background-image: url("../../../assets/images/bg1-red.png");
    background-repeat: repeat;
    background-position: top left;
    background-size: 25% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    @include tablets {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__left-container {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 11px 5px 5px;
    @include tablets {
      padding: 5px 11px 11px 11px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-image: url("../../../assets/images/small-border.png");
      background-repeat: repeat-y;
      background-position: 0 0;
      background-size: 100% auto;
      @include tablets {
        right: unset;
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-image: url("../../../assets/images/small-border-2.png");
        background-repeat: repeat-x;
        background-size: auto 100%;
      }
    }
    @include tablets {
      width: 100%;
    }
  }
  &__center-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 0 16px 0 10px;
    @include tablets {
      width: 100%;
      flex-direction: column;
      padding: 10px 0;
      flex: 1;
    }
    @include phone {
      justify-content: center;
      padding: 5px 0 10px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-image: url("../../../assets/images/small-border.png");
      background-repeat: repeat-y;
      background-position: 0 0;
      background-size: 100% auto;
      @include tablets {
        right: unset;
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-image: url("../../../assets/images/small-border-2.png");
        background-repeat: repeat-x;
        background-size: auto 100%;
      }
    }

  }
  &__field-wrapper {
    height: 100%;
    width: 150px;
    max-width: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    @include laptops {
      max-width: 110px;
      ::ng-deep .action__content {
        font-size: 13px;
      }
    }
    @include tablets {
      width: 100%;
      height: 70px;
      max-width: unset;
      ::ng-deep .action__content {
        font-size: 18px;
      }
    }
    @include phone {
      height: 50px;
      ::ng-deep .action__content {
        font-size: 16px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -1px;
      width: 80%;
      height: 20px;
      background-image: url("../../../assets/images/ozdoba1.png");
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 100% auto;
      transform: translate(-50%, 0) scaleY(-1);
      @include tablets {
        left: 1px;
        top: 50%;
        width: 20px;
        height: 80%;
        background-image: url("../../../assets/images/ozdoba2.png");
        background-position: 0 0;
        background-size: auto 100%;
        transform: translate(0, -50%)
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -1px;
      width: 80%;
      height: 20px;
      background-image: url("../../../assets/images/ozdoba1.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% auto;
      transform: translateX(-50%) scaleY(1);
      @include laptops {
        bottom: -6px;
      }
      @include tablets {
        left: unset;
        right: -1px;
        top: 50%;
        width: 20px;
        height: 80%;
        background-image: url("../../../assets/images/ozdoba2.png");
        background-position: 0 0;
        background-size: auto 100%;
        transform: translate(0, -50%) scaleX(-1);
      }
     }
  }
  //&__field-wrapper--small-text {
  //  ::ng-deep .action__content--button {
  //    @include laptops {
  //      font-size: 13px;
  //    }
  //  }
  //}
  &__field-wrapper--image {
    display: flex;

    @include tablets {
      display: none;
    }
  }
  &__right-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include tablets {
      width: 100%;
      padding: 10px 0;
    }
    @include small-phone {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .left-container__top {
    height: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include phone {
      height: 96px;
    }
  }
  .left-container__bottom {
    height: 100%;
    margin: 5px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 2;
  }
  .left-container__top-left {
    width: 27%;
    height: 100%;
    @include laptops {
      display: none;
    }
  }
  .left-container__top-right {
    width: 71%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include laptops {
      width: 100%;
    }
  }
  .left-container__top-right-top {
    height: 33%;
    ::ng-deep .action__content--text {
      font-size: 14px;
      text-align: center;
      @include small-desktop {
        font-size: 12px;
      }
      @include tablets {
        font-size: 14px;
      }
      @include phone {
        font-size: 12px;
      }
    }
  }
  .left-container__top-right-top--sub {
    ::ng-deep .action__content--text {
      font-size: 12px;
      @include tablets {
          font-size: 14px;
      }
      @include phone {
        font-size: 11px;
      }
    }

  }
  .left-container__top-right-bottom {
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .left-container__trb-field {
    width: 100%;

  }
  .left-container__trb-field--long {
    width: 49%;
    display: flex;
    flex-direction: column;
  }
  .left-container__bottom-field {
    width: 24%;
    height: 100%;
  }
  .left-container__trb-field--img-gold {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-container__img-gold {
    width: auto;
    height: 73%;
  }
  .navigation-panel__center-button {
    width: 100%;
    height: 110px;
    ::ng-deep *{
      color: #ffe794;
    }
    @include laptops {
      font-size: 12px;
    }
    @include tablets {
      width: 85%;
      height: 75%;
    }
  }
  .navigation-panel__center-image {
    width: 105px;
    height: 110px;
  }
  .navigation-panel__right-button {
    width: 95%;
    height: 40px;
    ::ng-deep * {
      font-size: 18px;
    }
    @include laptops {
      ::ng-deep * {
        font-size: 11px;
      }
    }
    @include tablets {
      width: 85%;
      height: 35px;
      margin: 0 0 3px;
      ::ng-deep * {
        font-size: 14px;
      }
    }
  }
  @include small-phone {
    .navigation-panel__right-button:nth-child(4),
    .navigation-panel__right-button:nth-child(5) {
      width: 43%;
    }
  }

}
