<section class="navigation-panel">
    <div class="panel-border-line panel-border-line--top"></div>
    <div class="panel-border-line panel-border-line--bottom"></div>
    <div class="panel-border-line panel-border-line--left"></div>
    <div class="panel-border-line panel-border-line--right"></div>
  <div class="navigation-panel__content">
    <div class="navigation-panel__left-container">
      <div class="left-container__top">
        <app-action-field class="left-container__top-left" [type]="'image'" [content]="'../../../assets/images/dragon-crakow2.png'"></app-action-field>
        <div class="left-container__top-right">
          <app-action-field class="left-container__top-right-top" [type]="'text'" [content]="'Cracow'"></app-action-field>
          <div class="left-container__top-right-bottom">
<!--            <app-action-field class="left-container__trb-field" [type]="'text'"></app-action-field>-->
<!--            <app-action-field class="left-container__trb-field" [type]="'text'"></app-action-field>-->
<!--            <app-action-field class="left-container__trb-field left-container__trb-field&#45;&#45;long" [type]="'field'"></app-action-field>-->
            <app-action-field class="left-container__trb-field left-container__trb-field--long"
                              [type]="'button-img'"
                              [content]="'../../../assets/images/hands.png'"
                              [link]="'https://github.com/gitprzemek'"></app-action-field>
            <div class="left-container__trb-field left-container__trb-field--img-gold">
              <img class="left-container__img-gold" src="../../../assets/images/gold2.png" alt="gold">
            </div>
          </div>
        </div>
      </div>
      <div class="left-container__bottom">
        <app-action-field class="left-container__bottom-field"
                          [type]="'button-link'"
                          [content]="'../../../assets/images/github-logo2.png'"
                          [link]="'https://github.com/gitprzemek'"></app-action-field>
        <app-action-field class="left-container__bottom-field"
                          [type]="'button-link'"
                          [content]="'../../../assets/images/in3.png'"
                          [link]="'https://github.com/gitprzemek'"></app-action-field>
        <app-action-field class="left-container__bottom-field"
                          [type]="'button-link'"
                          [content]="'../../../assets/images/mail-icon.png'"
                          [link]="'https://github.com/gitprzemek'"></app-action-field>
        <app-action-field class="left-container__bottom-field"
                          [type]="'button-link'"
                          [content]="'../../../assets/images/mail-icon.png'"
                          [link]="'https://github.com/gitprzemek'"></app-action-field>

      </div>
    </div>
    <div class="navigation-panel__center-container">
      <div class="navigation-panel__field-wrapper">
        <app-action-field class="navigation-panel__center-image" [type]="'image'" [content]="'../../../assets/images/redflag.png'"></app-action-field>
      </div>
      <div class="navigation-panel__field-wrapper">
        <app-action-field class="navigation-panel__center-button" [type]="'button'" [content]="'About me'"></app-action-field>
      </div>
      <div class="navigation-panel__field-wrapper">
        <app-action-field class="navigation-panel__center-button" [type]="'button'" [content]="'My projects'"></app-action-field>
      </div>
      <div class="navigation-panel__field-wrapper">
        <app-action-field class="navigation-panel__center-button" [type]="'button'" [content]="'My skills'"></app-action-field>
      </div>
      <div class="navigation-panel__field-wrapper">
        <app-action-field class="navigation-panel__center-button" [type]="'button'" [content]="'Contact'"></app-action-field>
      </div>
    </div>
    <div class="navigation-panel__right-container">
      <app-action-field class="navigation-panel__right-button" [type]="'button'" [content]="'Music: ON'"></app-action-field>
      <app-action-field class="navigation-panel__right-button" [type]="'button'" [content]="'Sounds: ON'"></app-action-field>
      <app-action-field class="navigation-panel__right-button" [type]="'button'" [content]="'Language: ENG'"></app-action-field>
      <app-action-field class="navigation-panel__right-button" [type]="'button'" [content]="'Back'"></app-action-field>
    </div>
  </div>
</section>
