<ng-container *ngIf="type === 'field'">
  <div class="action__first-border">
    <div class="action__sec-border">
      <div class="action__content">

      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type === 'text'">
  <div class="action__first-border action__first-border--text">
    <div class="action__sec-border action__sec-border--text">
      <div class="action__content action__content--text">
        {{content}}
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type === 'button'">
  <div class="action__first-border action__first-border--button">
    <button class="action__sec-border action__sec-border--button">
      <span class="action__content action__content--button">
        {{content}}
      </span>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="type === 'button-img'">
  <div class="action__first-border action__first-border--button">
      <button class="action__sec-border action__sec-border--button">
        <img [src]=content alt="logo" class="action__button-img">
      </button>
  </div>
</ng-container>
<ng-container *ngIf="type === 'button-link'">
  <div class="action__first-border action__first-border--button">
    <div class="action__sec-border action__sec-border--button">
      <a [href]="link" class="action__link" target="_blank">
        <img [src]=content alt="logo" class="action__link-img">
      </a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type === 'button-link-text'">
  <div class="action__first-border action__first-border--button">
    <div class="action__sec-border action__sec-border--button">
      <a [href]="link" class="action__link" target="_blank">
        <span>{{content}}</span>
      </a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type === 'image'">
  <div class="action__first-border ">
    <div class="action__sec-border ">
      <img [src]=content alt="image" class="action__content action__content--image">
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type === 'imageBg'">
  <div class="action__first-border ">
    <div class="action__sec-border action__sec-border--bg">
      <img [src]=content alt="image" class="action__content action__content--image-bg">
    </div>
  </div>
</ng-container>
